#root {
    font-family: 'Red Hat Display', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#card-carousel {
    display: flex;
    margin-top: 50px;
}

img[class^="card"] {
    margin-left: -187px;
}
